<% content_for :title do %>Newsletters<% end %>
<%= render 'layouts/container' %>

<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @newsletter.letter %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>

<%= render 'layouts/container_end' %>
