<%= render 'container' %>
<h1>Editing Storytext</h1>

<%= render 'form', storytext: @storytext %>

<%= link_to 'Show', @storytext %> |
<%= link_to 'Back', storytexts_path %>

<%= render 'container_end' %>
