<% content_for :title do %>Videos<% end %>
<%= render 'layouts/container' %>

<h1>Editing Video</h1>

<%= render 'form', video: @video %>

<p>
<%= link_to 'Show', @video, :class => "btn btn-success", :role => "button" %>
<%= link_to 'Back', videos_path, :class => "btn btn-secondary", :role => "button" %>
</p>

<%= render 'layouts/container_end' %>
