<% content_for :title do %>Videos<% end %>
<%= render 'layouts/container' %>


<h1>Videos <%= ' in ' + @country.name if @country != nil %> <%= ' with tag ' + @tag if @tag != nil %> <%= ' created on ' + Date.parse(@date).strftime("%-d.%-m.%Y")  if @date != nil %><%= octicon "device-camera-video", :height => 35,  :class => "right", :"aria-label" => "device-camera-video" %></h1>
<% if @country != nil %>
  <p>
  <%= link_to 'Pictures', list_pictures_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Stories', list_stories_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Travel Tipps', list_travel_tipps_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Show Country', @country, :class => "btn btn-secondary", :role => "button"  %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Video in ' + @country.name, new_video_country_path(@country), :class => "btn btn-primary", :role => "button"  %>
  <% end %>
  </p>
<% end %>
<% if current_user.try(:admin?) %>
  <p><%= link_to 'New Video', new_video_path, :class => "btn btn-primary", :role => "button"  %></p>
<% end %>


<% @videos.each do |video| %>
 <% if current_user.try(:admin?) or video.public %>
 <p>
  <div class="card" >
    <div class="card-header" >
      <h4 class="card-title">
        <%= link_to video.name, video, :style => "color: black" %> 
      </h4>
    </div>
      <p class="card-text">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"  width="560" height="315" src=<%= video.url %> allowfullscreen></iframe>
        </div>
        <p>
        <%= link_to video, :style => "color: black"  do %>
          <div class="text-right"><small> show comments <%= video.comments.count %><%= octicon "comment", :height => 18,  :class => "right", :"aria-label" => "comments" %></small></div> 
        <% end %>
        </p>
        <p><%== video.description %></p>
      </p>
      <p>
          <% if current_user.try(:admin?) %>
            <% if video.public %>
              <%= link_to 'Edit', edit_video_path(video), :class => "btn btn-info", :role => "button"  %>
            <% end %> 
            <% if ! video.public %>
              <%= link_to 'Edit', edit_video_path(video), :class => "btn btn-primary", :role => "button"  %>
            <% end %> 
             <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %>
          <% end %>
          <% if video.tag_list.to_s != '' %>
            <p>Tags: <%= raw(video.tag_list.map { |t| link_to t, list_videos_tags_path(t) }.join(', ')) %></p>
          <% end %> 
      </p>

      <div class="card-footer text-muted" >
          published in <%= link_to video.country.name , list_videos_path(video.country) if video.country != nil%>  on <%= link_to video.created_at.strftime("%A, the %-d %B %Y") , list_videos_date_path(video.created_at)%>, last update on <%= video.updated_at.strftime("%A, the %-d %B %Y")  %>
      </div>
   </div>
   </p>
  <% end %>
<% end %>

<br>

<%= render 'layouts/container_end' %>