<% content_for :title do %>Videos<% end %>
<%= render 'layouts/container' %>

<p>
  <strong>Public:</strong>
  <%= @video.public %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"  width="560" height="315" src=<%= @video.url %> allowfullscreen></iframe>
</div>

<p>
<%= link_to 'Edit', edit_video_path(@video), :class => "btn btn-success", :role => "button" %>
<%= link_to 'Back', videos_path, :class => "btn btn-secondary", :role => "button" %>
</p>

<%= render 'layouts/container_end' %>