<div class="text-right"><small><%= commentable.comments.count %><%= octicon "comment", :height => 18,  :class => "right", :"aria-label" => "comments" %></small></div> 

<% if commentable.comments.empty? %>
 
<% else %>

  <% for comment in commentable.comments %>
  <p>
   <div class="card" >
    <div class="card-header" >
      <h6 class="card-title">
        <%= comment.title %>
      </h6>
    </div>
      <p class="card-text">
	    <%= comment.content %></p>
      <% if user_signed_in? and current_user.id == comment.user_id or current_user.try(:admin?) %>
        <%= render 'shared/edit_comment', comment: comment%>
        
      <% end %>
	   <div class="card-footer text-muted" >
          <small>Added by <strong><% if current_user.try(:admin?) %><%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %><% end %><% if ! current_user.try(:admin?) %><%= User.find(comment.user_id).name %><% end %></strong> on
	    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>
      <% if current_user.try(:admin?) %><%= " " + comment.email %><% end %>
      </small>
      </div>
	</div>
	</p>
  <% end %>
<% end %>

<% if user_signed_in? %>
<div class="card" >
    <div class="card-header" >
      <h6 class="card-title">
        Add a new comment as <%= current_user.name %>
      </h6>
    </div>
      <p class="card-text">

<%= form_for [commentable, Comment.new()] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %> (invisible)
    <%= f.text_field :email, :class => "form-control", :placeholder => current_user.email %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "form-control", rows: 5 %>
  </div>

  <%= f.submit %>
<% end %>
</p>
</div>
<% else %>
 <p><%= link_to 'Sign in to comment', new_user_session_path, :class => "btn btn-info", :role => "button" %></p>
 <p><%= link_to 'Sign up to comment', new_user_registration_path, :class => "btn btn-primary", :role => "button" %></p>
<% end %>
