<%= render 'layouts/container' %>

<h1>News</h1>

<% if current_user.try(:admin?) %>
<p><%= link_to 'New News', new_news_path, :class => "btn btn-primary", :role => "button"  %></p></br>
 <% end %>

<% @news.each do |news| %>
  <b><%= news.created_at.strftime("%A, the %-d %B %Y") %></b>
  <p>
  <%== news.text  %>
  </p>

 <% if current_user.try(:admin?) %>
  <p>
  <%= link_to 'Show', news, :class => "btn btn-success", :role => "button"  %>
  <%= link_to 'Edit', edit_news_path(news), :class => "btn btn-info", :role => "button"  %>
  <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %>
</p>
 <% end %> 
<% end %>

<p><%= link_to 'Back', root_path, :class => "btn btn-secondary", :role => "button"  %></p>


<%= render 'layouts/container_end' %>