<%= render 'layouts/container' %>

<p>
  <strong>Text:</strong>
  <%= @news.text %>
</p>

<p>
  <strong>Text link:</strong>
  <%= @news.text_link %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<p>
  <strong>Color:</strong>
  <%= @news.color %>
</p>

<p><%= link_to 'Edit', edit_news_path(@news), :class => "btn btn-primary", :role => "button"  %> 
<%= link_to 'Back', news_index_path, :class => "btn btn-secondary", :role => "button"  %></p>

<%= render 'layouts/container_end' %>
