<%= render 'layouts/container' %>
<p>
  <strong>Text:</strong>
  <%= @news.text %>
</p>

<p>
<%= link_to 'Edit', edit_news_path(@news), :class => "btn btn-info", :role => "button"  %> 
<%= link_to 'Back', news_index_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>