<% content_for :title do %>About<% end %>
<%= render 'layouts/container' %>
<h3>About us</h3>
<p>

We are Elisabeth (25) and Frieder (25) and we want to see more of the world.</br>
On this website we document our cycle tour through Europe and Asia. Our tour started in August 2017 in <%= link_to "Croatia", "https://we-cycle.asia/list_stories/3" %>. After his bachelor thesis in mechanical engineering Frieder wanted to travel for maybe three months. When Elisabeth said, she wanted to join him, the plan became to travel more than three months. We are planning to travel a year, maybe more or less. Elisabeth <%= link_to "quitted her job", "https://we-cycle.asia/stories/1" %>  as a system engineer. At first we wanted to go by car, but with some research we found out, that going by car would not be easy. You can't fly with a car and you can't visit China. Then we thought about going by public transport or going on a long hiking trip. It wouldn't be easy to get outside of the cites, when going by public transport and we wanted to see more nature and making longer distances than with hiking. That's why we decided to go by bicycle. At first Elisabeth wanted to travel with two bicycles and Frieder was fascinated by the idea of going by tandem. We tested a so called <%= link_to "Stufentandem", "https://we-cycle.asia/stories/3" %> and Elisabeth was convinced that it's a great idea to travel with a tandem.
</br>
<p>
Who we are:</br>
We are fascinated by great nature.</br>
We like to travel slowly.</br>
We love to discover parts of the world together.</br>

</p>
<p>
Who we are not:</br>
We are no extreme athletes. We only want to enjoy beaches and mountains.</br>
</p>

</p>
<%= render 'layouts/container_end' %>