<%= form_for(story) do |f| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :sort_description %>
    <%= f.text_area :sort_description %>
  </div>
  <h1>Storytexts</h1>
  <%= f.fields_for :storytexts do |builder| %>
    <%= render 'storytext_fields', :f => builder%>
  <% end %>

<br>
      <div class="links">
        <%= link_to_add_association 'add storytext', f, :storytexts %>
      </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
