<%= form_for(story) do |f| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :short_description %>
    <%= f.text_area :short_description, :class => "form-control", rows: 10  %>
  </div>

  <div class="form-group">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>

  <div class='form-group'>
    <%= f.label :tag_list, 'Tags' %><br/>
    <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true} %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.select( :country_id, Country.all.collect {|c| [ c.name, c.id] }, { include_blank: false } ) %>
  </div>

  <div class="form-group">
    <%= f.label :picture %><br />
    <%= f.select( :picture_id, Picture.all.collect {|p| [ p.name, p.id] }, { include_blank: true }, :class => "story_picture_id" ) %>
  </div>

  <h1>Storytexts</h1>
  <%= f.fields_for :storytexts do |builder| %>
    <%= render 'storytext_fields', :f => builder%>
  <% end %>

<br>
      <div class="links">
        <%= link_to_add_association 'add storytext', f, :storytexts, :class => "btn btn-success", :role => "button"  %>
      </div>

</br>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
<% end %>
