 <div class="stortext-fields">
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="form-group">
        <%= f.label :storypart %>
        <%= f.text_area :storypart, :class => "form-control", rows: 20  %>
    </div>

    <h3>Pictures</h3>
    <%= f.fields_for :storytext_pictures do |builder| %>
      <%= render 'storytext_picture_fields', :f => builder%>
    <% end %>
    <div class="links">
        <%= link_to_add_association 'add picture', f, :storytext_pictures, :class => "btn btn-success", :role => "button"  %>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_association "remove stortext", f, {wrapper_class: 'stortext-fields'}, :class => "btn btn-danger", :role => "button"  %>
</div>
  