<% content_for :title do %>Stories<% end %>
<%= render 'layouts/container' %>
<h1>Editing Story</h1>

<%= render 'form', story: @story %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Show', @story, :class => "btn btn-success", :role => "button"  %> 
<%= link_to 'Back', stories_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
