<% content_for :title do %>Stories<% end %>
<%= render 'layouts/container' %>

<% if current_user.try(:admin?) or @story.public %>
	<p>
	  <h1><%= @story.title %></h1>
	</p>
	<p class="text-muted" >
          written by <%= @story.user.name %>   in <%= link_to @story.country.name , list_stories_path(@story.country) %>  on <%= @story.created_at.strftime("%A, the %-d %B %Y") %>, last update on <%= @story.updated_at.strftime("%A, the %-d %B %Y")  %>
	</p>

	<% for storytext in @story.storytexts %>
	 <h3><%=storytext.title%></h3>
	 <p><%==storytext.storypart%></p>
	 </br>
	 <div class="card-columns">
				 <% for storytext_picture in storytext.storytext_pictures %>
				 		<div class="card">
				 		<a href=<%= storytext_picture.picture.image_url%> title=<%= storytext_picture.picture.name %> data-gallery>
            			  <%= image_tag(storytext_picture.picture.image_url, :class =>"card-img-top", :height => "100%" ) if storytext_picture.picture.image.present? %></a>
					 </div>
				 <% end %>
			
		</div>
	<% end %>

<% end %>

<% if @story.tag_list.to_s != '' %>
            <p>Tags: <%= raw(@story.tag_list.map { |t| link_to t, list_stories_tags_path(t) }.join(', ')) %></p>
<% end %> 

<p>
<% if current_user.try(:admin?) %>
	<% if @story.public %>
       <%= link_to 'Edit', edit_story_path(@story), :class => "btn btn-info", :role => "button"   %> 
    <% end %> 
    <% if ! @story.public %>
        <%= link_to 'Edit', edit_story_path(@story), :class => "btn btn-primary", :role => "button"   %> 
    <% end %> 
<% end %>

<%= link_to 'Back', list_stories_path(@story.country), :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render :partial => "shared/comments", :locals => { :commentable => @story } %>

<%= render 'layouts/container_end' %>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

