<% content_for :title do %>Stories<% end %>
<%= render 'layouts/container' %>

<% if current_user.try(:admin?) or @story.public %>
	<p>
	  <h1><%= @story.title %></h1>
	</p>

	<% for storytext in @story.storytexts %>
	<p>
	 <h3><%=storytext.title%></h3>
	 <%==storytext.storypart%>
	 </br>
	 <div class="card-columns">
				 <% for storytext_picture in storytext.storytext_pictures %>
				 		<div class="card">
						<%= image_tag(storytext_picture.picture.image_url, :class =>"card-img-top", :width => "100%") if storytext_picture.picture.image.present? %>
					 </div>
				 <% end %>
			
		</div>
	</p>
	<% end %>

<% end %>

<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_story_path(@story), :class => "btn btn-info", :role => "button"   %> 
<% end %>

<%= link_to 'Back', list_stories_path(@story.country), :class => "btn btn-secondary", :role => "button"  %>


<%= render 'layouts/container_end' %>
