<%= render 'layouts/container' %>
<h1>Editing Tag</h1>

<%= render 'form', tag: @tag %>

<p>
<%= link_to 'Show', @tag, :class => "btn btn-success", :role => "button"  %> 
<%= link_to 'Back', tags_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
