<%= form_for(travel_tipp) do |f| %>
  <% if travel_tipp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_tipp.errors.count, "error") %> prohibited this travel_tipp from being saved:</h2>

      <ul>
      <% travel_tipp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control", rows: 15  %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.select( :country_id, Country.all.collect {|c| [ c.name, c.id] }, { include_blank: true } ) %>
  </div>

   <div class="form-group">
    <%= f.label :travel_tipps_category %><br />
    <%= f.select( :travel_tipps_category_id, TravelTippsCategory.all.collect {|c| [ c.name, c.id] }, { include_blank: true } ) %>
  </div>

    <%= f.fields_for :travel_tipps_segments do |builder| %>
      <%= render 'travel_tipps_segment_fields', :f => builder%>
    <% end %>
    <div class="links">
        <%= link_to_add_association 'add segment', f, :travel_tipps_segments, :class => "btn btn-success", :role => "button"  %>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
