<%= render 'layouts/container' %>
<h1>Editing Travel Tipp</h1>

<%= render 'form', travel_tipp: @travel_tipp %>

<p>
<%= link_to 'Show', @travel_tipp, :class => "btn btn-success", :role => "button"  %> 
<%= link_to 'Back', travel_tipps_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
