<% content_for :title do %>Travel Tipps<% end %>
<%= render 'layouts/container' %>

<h1>Travel Tipps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_tipps.each do |travel_tipp| %>
      <% if current_user.try(:admin?) or travel_tipp.public %>
      <tr>
        <td><%= travel_tipp.name %></td>
        <td><%= travel_tipp.description %></td>
        <td><%= travel_tipp.country.name %></td>
        <td><%= link_to 'Show', travel_tipp, :class => "btn btn-success", :role => "button"  %></td>
        <td><%= link_to 'Edit', edit_travel_tipp_path(travel_tipp), :class => "btn btn-info", :role => "button"  %></td>
        <td><%= link_to 'Destroy', travel_tipp, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:admin?) %>

<p><%= link_to 'New Travel Tipp', new_travel_tipp_path, :class => "btn btn-primary", :role => "button" %></p>

<% end %>
<%= render 'layouts/container_end' %>
