<% content_for :title do %>Travel Tipps<% end %>
<%= render 'layouts/container' %>

<p>
  <strong>Name:</strong>
  <%= @travel_tipp.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @travel_tipp.description %>
</p>

<%= link_to 'Edit', edit_travel_tipp_path(@travel_tipp) %> |
<%= link_to 'Back', travel_tipps_path %>

<%= render 'layouts/container_end' %>