<% content_for :title do %>Pictures<% end %>
<%= render 'layouts/container' %>
  <h1>Pictures</h1>

<% if @country != nil %>
  <p>
  <%= link_to 'Videos', list_videos_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Stories', list_stories_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Travel Tipps', list_travel_tipps_path(@country), :class => "btn btn-secondary", :role => "button"  %>
  <%= link_to 'Show Country', @country, :class => "btn btn-secondary", :role => "button"  %>
  </p>
<% end %>

<div class="card-columns">


  <% @pictures.each do |picture| %>    
    <% if current_user.try(:admin?) or picture.public %>
        <div class="card">
        <a href=<%= picture.image_url%> title=<%= picture.name %> data-gallery>
              <%= image_tag(picture.image_url, :class =>"card-img-top", :height => "200px" ) if picture.image.present? %></a>
                <div class="card-block">
                      <h4 class="card-title"><%= picture.name %></h4>
                      <p class="card-text"><%= picture.description %></p>
                      <%= link_to 'Show', picture, :class => "btn btn-success", :role => "button"  %>
              <% if current_user.try(:admin?) %>
                <%= link_to 'Edit', edit_picture_path(picture), :class => "btn btn-info", :role => "button"  %>
                <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %>
            <% end %>
                 </div>
                  <div class="card-footer">
      <small class="text-muted">Posted in <%= link_to picture.country.name , list_pictures_path(picture.country) %>  on <%= picture.created_at.strftime("%-d.%-m.%Y") %>, last update on <%= picture.updated_at.strftime("%-d.%-m.%Y")  %></small>
          
               </div>
            
          </div>
        
     <% end %>      
  <% end %> 

</div>
<br>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Picture', new_picture_path %>
<% end %>

</div>
<%= render 'layouts/container_end' %>






<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


