<% content_for :title do %>Pictures<% end %>
<%= render 'layouts/container' %>
<% if current_user.try(:admin?) or @picture.public %>
<p>
  <h1><%= @picture.name %></h1>
</p>

<p style="align-content: center;">
<%= link_to 'Previous', @previous_picture, :class => "btn btn-secondary", :role => "button"   %>
<%= link_to 'Next', @next_picture, :class => "btn btn-secondary", :role => "button"   %>
</p>

<p>
<%= link_to @next_picture do %>	
  <%= image_tag(@picture.image_url) if @picture.image.present? %>
<% end %>
</p>

<p>
  <%== @picture.description %>
</p>

<% if @picture.tag_list.to_s != '' %>
                    <p>Tags: <%= raw(@picture.tag_list.map { |t| link_to t, list_pictures_tags_path(t) }.join(', ')) %></p>
<% end %>

<% end %>  

<p>
<% if current_user.try(:admin?) %>
	<% if @picture.public %>
		<%= link_to 'Edit', edit_picture_path(@picture), :class => "btn btn-info", :role => "button"  %> 
	<% end %>
	<% if ! @picture.public %>
		<%= link_to 'Edit', edit_picture_path(@picture), :class => "btn btn-primary", :role => "button"  %> 
	<% end %>
<% end %>
<%= link_to 'Back to Photos without text', list_pictures_path(@picture.country), :class => "btn btn-secondary", :role => "button"   %></br>
<%= link_to 'Back to Photos with title and descriptions', list_pictures_text_path(@picture.country), :class => "btn btn-secondary", :role => "button"   %>
</p>

<%= render :partial => "shared/comments", :locals => { :commentable => @picture } %>

<%= render 'layouts/container_end' %>
