<% content_for :title do %>Pictures<% end %>
<%= render 'layouts/container' %>
<% if current_user.try(:admin?) or @picture.public %>
<p>
  <h1><%= @picture.name %></h1>
</p>

<p>
  <%= image_tag(@picture.image_url, :width => 600) if @picture.image.present? %>
</p>

<p>
  <%= @picture.description %>
</p>


<% end %>  

<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_picture_path(@picture) %> |
<% end %>
<%= link_to 'Back', list_pictures_path(@picture.country)  %>
<%= render 'layouts/container_end' %>
