<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>

  <div class="field">
    <%= f.label :picture %><br />
    <%= f.select( :picture_id, Picture.all.collect {|p| [ p.name, p.id] }, { include_blank: false } ) %>
  </div>

  <div class="field">
    <%= f.label :shortDescription %>
    <%= f.text_area :shortDescription %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
