<%= render 'layouts/container' %>

<h1>Editing Country</h1>

<%= render 'form', country: @country %>

<%= link_to 'Show', @country, :class => "btn btn-success", :role => "button"  %> 
<%= link_to 'Back', countries_path, :class => "btn btn-secondary", :role => "button"   %>

<%= render 'layouts/container_end' %>