<%= render 'layouts/container' %>

<% if @path == 'country_stories_path'%>
<h1>Stories</h1>
<% end %>
<% if @path == 'country_pictures_path'%>
<h1>Galery/Photos</h1>
<% end %>
<% if @path == 'country_videos_path'%>
<h1>Galery/Videos</h1>
<% end %>

<div class="container">
  <div class="row">
    <% @countries.each do |country| %>
      <div class="cols-sm-12 col-md-6 col-lg-4 col-lx-3">
      <div class="card card-inverse" style="width: 100% ;">
        <% if country.picture.image.present? %>
            <%= image_tag(country.picture.image_url, :width => "100%", :class => "card-img" )%>
        <% end %>
        <% if @path == 'country_stories_path' %>
        <%= link_to list_stories_path(country)  do %>
            <div class="card-img-overlay">
              <h4 class="card-title"><%= country.name %></h4>
            </div>
          <% end %>
        <% end %>
        <% if @path == 'country_pictures_path' %>
        <%= link_to list_pictures_path(country)  do %>
            <div class="card-img-overlay">
              <h4 class="card-title"><%= country.name %></h4>
            </div>
          <% end %>
        <% end %>
        <% if @path == 'country_videos_path' %>
        <%= link_to list_videos_path(country)  do %>
            <div class="card-img-overlay">
              <h4 class="card-title"><%= country.name %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <p><%= link_to 'New Picture', new_picture_path, :class => "btn btn-primary", :role => "button"  %>
      <%= link_to 'New Story', new_story_path, :class => "btn btn-primary", :role => "button"  %>
      <%= link_to 'New Video', new_video_path, :class => "btn btn-primary", :role => "button"  %>
      <%= link_to 'New Country', new_country_path, :class => "btn btn-primary", :role => "button"  %></p>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, list_stories_tags_path(tag) , :class => css_class %>
<% end %>
<% end %>
<br>
<%= render 'layouts/container_end' %>

