<%= render 'layouts/container' %>

<p>
  <h1><%= @country.name %></h1>
</p>

<p>
  <%= image_tag(@country.picture.image_url, :width => "100%") if @country.picture.image.present? %>
</p>

<p>
  <%== @country.shortDescription %>
</p>

<p>
<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_country_path(@country), :class => "btn btn-info", :role => "button"   %> 
<% end %>

<%= link_to 'Back', list_stories_path(@country), :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render :partial => "shared/comments", :locals => { :commentable => @country } %>

<%= render 'layouts/container_end' %>