<%= render 'layouts/container' %>

<p>
  <h1><%= @country.name %></h1>
</p>

<p>
  <%= image_tag(@country.picture.image_url, :width => "100%") if @country.picture.image.present? %>
</p>

<p>
  <%== @country.shortDescription %>
</p>

<p>
<%= link_to 'Stories in ' + @country.name, list_stories_path(@country), :class => "btn btn-secondary", :role => "button"  %>
<%= link_to 'Videos in ' + @country.name, list_videos_path(@country), :class => "btn btn-secondary", :role => "button"  %>
<%= link_to 'Pictures in ' + @country.name, list_pictures_path(@country), :class => "btn btn-secondary", :role => "button"  %>
<%= link_to 'Travel Tipps in ' + @country.name, list_travel_tipps_path(@country), :class => "btn btn-secondary", :role => "button"  %>
</p>

<p>
<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_country_path(@country), :class => "btn btn-info", :role => "button"   %> 
	<%= link_to 'Back', countries_path, :class => "btn btn-secondary", :role => "button"  %>
<% end %>
</p>

<%= render :partial => "shared/comments", :locals => { :commentable => @country } %>

<%= render 'layouts/container_end' %>