<%= form_for(route) do |f| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :maplink %>
    <%= f.text_area :maplink, :class => "form-control", rows: 5  %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control", rows: 15  %>
  </div>

  <div class="field">
    <%= f.label :garminlink %>
    <%= f.text_field :garminlink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
