<%= render 'layouts/container' %>
<h1>Editing Route</h1>

<%= render 'form', route: @route %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Show', @route, :class => "btn btn-success", :role => "button"  %> 
<%= link_to 'Back', routes_path, :class => "btn btn-secondary", :role => "button"  %></p>

<%= render 'layouts/container_end' %>