<%= render 'layouts/container' %>
<h1>Routes</h1>

    <% @routes.each do |route| %>
      <p>
      <div class="card" >
        <div class="card-header" >
          <h4 class="card-title">
            <%= route.title %>
          </h4>
        </div>
          <p class="card-text">      
          <%== route.maplink %>
          <%== route.description %>
          </br>
          <%= link_to 'Live tracking Garmin (only for family)', route.garminlink, target: '_blank' %>
          <% if current_user.try(:admin?) %>
            <p><%= link_to 'Show', route, :class => "btn btn-success", :role => "button"  %>
            <%= link_to 'Edit', edit_route_path(route), :class => "btn btn-primary", :role => "button"  %>
            <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %></p>
           <% end %>
          </p>      
      </div>
      </p>
    <% end %>

<br>
<% if current_user.try(:admin?) %>
<p><%= link_to 'New Route', new_route_path, :class => "btn btn-primary", :role => "button"  %></p>
<% end %>

<%= render 'layouts/container_end' %>
