<%= render 'layouts/container' %>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Maplink:</strong>
  <%= @route.maplink %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>

<p>
  <strong>Garminlink:</strong>
  <%= @route.garminlink %>
</p>

<p><%= link_to 'Edit', edit_route_path(@route), :class => "btn btn-primary", :role => "button"  %> 
<%= link_to 'Back', routes_path, :class => "btn btn-secondary", :role => "button"  %></p>

<%= render 'layouts/container_end' %>