
<%=  render 'layouts/container' %>

<p><h3><%= link_to 'Latest photo uploads from ' + Date.parse(@last_created_at).strftime("%-d.%-m.%Y") , list_pictures_date_path(@last_created_at), :style => "color: black"  %></h3></p>

<% if @countries != nil %>  
	<p><small> New photos in 
		<% @countries.each do |country| %> 
			<%= link_to country.name, list_pictures_path(country)%>
		<% end %>
	</small>
<% end %>

<div class="card-columns">

		<% @pictures.each do |picture| %> 


				<div class="card">


				        <% if picture.image_url.present? %>   
				            <%= link_to list_pictures_date_path(@last_created_at)  do %>
				                  <%= image_tag(picture.image_url, :class =>"card-img-top", :height => "200px" ) if picture.image.present? %>
				            <% end %>
				        <% end %>
				             
				                
		   	</div>
		<% end %>

</div>

<%=  render 'layouts/container_end2' %>
</br></br>


