
 <% if current_user.try(:admin?) or story.public %>
 <p>
  <div class="card" >
    <div class="card-header" >
      <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-10 col-lg-10 col-lx-10">
                <h4 class="card-title" >
                  <%= link_to story.title, story, :style => "color: black" %>
                </h4>
              </div>
              <div class="text-right col-sm-12 col-md-2 col-lg-2 col-lx-2"><small><%= story.comments.count %><%= octicon "comment", :height => 18,  :class => "right", :"aria-label" => "comments" %></small></div>  
            </div>
          </div>
    </div>
      <p class="card-text">
        <% if story.picture.present? %>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6">
        <% end %>
                <%== story.short_description %>
               
        <% if story.picture.present? %>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6">
                <%= link_to story  do %>
                  <%= image_tag(story.picture.image_url, :width => "100%") if story.picture.present? %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </p>
      <p>
          <%= link_to 'Read more', story, :class => "btn btn-success", :role => "button"  %>
          <% if current_user.try(:admin?) %>
            <% if story.public %>
              <%= link_to 'Edit', edit_story_path(story), :class => "btn btn-info", :role => "button"  %>
            <% end %> 
            <% if ! story.public %>
              <%= link_to 'Edit', edit_story_path(story), :class => "btn btn-primary", :role => "button"  %>
            <% end %> 
            <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %>
          <% end %>
           
      </p>
      <div class="card-footer text-muted" >
          written by <%= story.user.name %>   in <%= link_to story.country.name , list_stories_path(story.country) %>  on <%= story.created_at.strftime("%A, the %-d %B %Y") %>, last update on <%= story.updated_at.strftime("%A, the %-d %B %Y")  %>
      </div>
   </div>
  </p>
<% end %>