<% if current_user.try(:admin?) or video.public %>
 <p>
  <div class="card" >
    <div class="card-header" >
      <h4 class="card-title">
        <%= link_to video.name, video, :style => "color: black" %> 
      </h4>
    </div>
      <p class="card-text">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"  width="560" height="315" src=<%= video.url %> allowfullscreen></iframe>
        </div>
        <p>
        <%= link_to video, :style => "color: black"  do %>
          <div class="text-right"><small> show comments <%= video.comments.count %><%= octicon "comment", :height => 18,  :class => "right", :"aria-label" => "comments" %></small></div> 
        <% end %>
        </p>
        <p><%== video.description %></p>
      </p>
      <p>
          <% if current_user.try(:admin?) %>
            <% if video.public %>
              <%= link_to 'Edit', edit_video_path(video), :class => "btn btn-info", :role => "button"  %>
            <% end %> 
            <% if ! video.public %>
              <%= link_to 'Edit', edit_video_path(video), :class => "btn btn-primary", :role => "button"  %>
            <% end %> 
             <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button"  %>
          <% end %>
          <% if video.tag_list.to_s != '' %>
            <p>Tags: <%= raw(video.tag_list.map { |t| link_to t, list_videos_tags_path(t) }.join(', ')) %></p>
          <% end %> 
      </p>

      <div class="card-footer text-muted" >
          published in <%= link_to video.country.name , list_videos_path(video.country) if video.country != nil%>  on <%= video.created_at.strftime("%A, the %-d %B %Y") %>, last update on <%= video.updated_at.strftime("%A, the %-d %B %Y")  %>
      </div>
   </div>
   </p>
  <% end %>