<%= form_for(material) do |f| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :sponsor %>
    <%= f.text_field :sponsor %>
  </div>

  <div class="field">
    <%= f.label :material_category %><br />
    <select name="material[material_category_id]">
      <% unless @material.material_category.nil? %>
        <option value="<%= @material.material_category_id %>" selected><%= @material.material_category.name %></option>
        <option disabled="disabled">---------</option>
      <% end %>
      <%= options_for_select @material_category %>
    </select>    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
