<% content_for :title do %>Materials<% end %>
<%= render 'layouts/container' %>
<h1>Editing Material</h1>

<%= render 'form', material: @material %>

<%= link_to 'Show', @material %> |
<%= link_to 'Back', materials_path %>

<%= render 'layouts/container_end' %>
