<% content_for :title do %>Gear<% end %>
<%= render 'layouts/container' %>

<h1>Gear</h1>



<% @material_categories.each do |material_category| %>
    <div class="card" >
    <div class="card-header" >
      <h4 class="card-title">
        <a data-toggle="collapse" data-parent="#accordion" href=<%= "#collapse" + material_category.name %>  >
        <%= material_category.name %></a>
      </h4>
    </div>
    <div id=<%= "collapse" + material_category.name %> class="card-collapse collapse ">
      <div class="card-text">
  <div class="container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @materials.each do |material| %>
       <% if current_user.try(:admin?) or material.public %>
        <% if material.material_category == material_category %>
        <tr>
        <div class="container">
          <div class="row">
          <td>
            <div class="col-sm-12 col-md-4 col-lg-4 col-lx-4">
              <% if material.picture.present? %>
                <%= link_to image_tag(material.picture.image_url), material %>
              <% else %>
                <p><%= link_to 'Show', material, :class => "btn btn-info", :role => "button" %></p>
              <% end %>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-lx-4">
              <%= link_to material.name , material %>
            </div>  
            <div class="col-sm-12 col-md-4 col-lg-4 col-lx-4">
              <%= link_to material.sponsor, material.sponsor_link, target: '_blank' %>
              <% if material.amazon_link.present? %>
                <%= link_to 'Buy it here *' , material.amazon_link, target: '_blank', class: 'tooltips', title: 'This is an affiliate link to Amazon. If you purchase any products on Amazon with this link you support us with no extra costs for you.', data: { toggle: 'tooltip', placement: 'top', original_title: 'Link to Amazon' }  %>
              <% end %>
            </div>
              <% if current_user.try(:admin?) %>
              <div class="col-sm-12 col-md-12 col-lg-12 col-lx-12">
                <%= link_to 'Edit', edit_material_path(material), :class => "btn btn-primary", :role => "button"%>
                <%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>
              </div>
              <% end %>
              </td>
          </div>
        </div>
        </tr>
        <% end %>
       <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
<% end %>

* There are some affiliate links to Amazon. If you purchase any products on Amazon with this link you support us with no extra costs for you. 
<br>
<% if current_user.try(:admin?) %>
  <%= link_to 'New Material', new_material_path, :class => "btn btn-primary", :role => "button" %>
<% end %>
<%= render 'layouts/container_end' %>
